<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Backoffice</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill me-2" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kunden">
                <span class="bi bi-people-fill me-2" aria-hidden="true"></span> Kundenverwaltung
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leistungen">
                <span class="bi bi-card-list me-2" aria-hidden="true"></span> Leistungskatalog
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="firmendaten">
                <span class="bi bi-building me-2" aria-hidden="true"></span> Firmendaten
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rechnungen">
                <span class="bi bi-receipt me-2" aria-hidden="true"></span> Rechnungen
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-person-badge me-2" aria-hidden="true"></span> Userverwaltung
            </NavLink>
        </div>
    </nav>
</div>



