@page "/"
<div class="homepage">
    <header class="hero">
        <div class="hero-overlay">
            <div class="hero-content container">
                @* <h1 class="hero-title">Digitale Abrechnung direkt vor Ort</h1>
                <p class="hero-sub">Servicetechniker erfassen Leistungen mobil — Abrechnung automatisch und transparent.</p> *@
                <h1 class="hero-title">Optimale Verwaltung des Leistungsangebots</h1>
                <p class="hero-sub">Einfaches Verwalten von Kundendaten — integrierte Terminplanung.</p>
                <div class="hero-ctas">
                    <button class="btn btn-primary" @onclick="Login">Login</button>
                    <button class="btn btn-outline" @onclick="ScrollToLeistungen">Mehr erfahren</button>
                </div>
            </div>
        </div>
    </header>
</div>


@code{
    private void Login()
    {}

    private void ScrollToLeistungen()
    { }
}